@import "tailwindcss";


@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }

  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}


